* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    margin: 40px;
}

#wrapper {
    max-width: 768px;
    margin: 20px auto 0;
    padding: 20px;
    overflow-y: auto;
}


/* game grid */
.game {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.box {
    background-color: #444;
    line-height: 1.4;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    text-align: center;
    transition: all 0.2s ease-in-out;
}


/* start button */
.start {
    background-color: #008CBA; /* blue */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.start:hover {
    background-color: #4CAF50; /* green */
}

/* mode */
.mode {
    position: fixed;
    left: 50px;
    right: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.mode > a {
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background: rgba(70, 112, 105, 0.6);
    color: white;
    border-radius: 5px;
}


/* index */
.index {
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 70%;
    left: 50px;
    right: 50px;
    z-index: 1000 !important;
}

@media (max-width: 796px) {
    .index {
        position: fixed;
    }
}

.index > a {
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
    padding: 4px 8px;
    background: rgba(68,68,68,0.6);
    color: white;
    border-radius: 5px;
}


.index > a:hover {
    background-color: #3b5998;
    color: white;
}

.next {
    margin-left: -70%;
}

.index.hidden {
    display: none;
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ddc0ad;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b36257;
}

/* tool tips */
.tooltip-message {
}

.tooltip-output {
    z-index: 100;
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    background-color: #444;
    color: white;
    padding: 5px;
    top: 100px;
    left: 50px;
}






